*.debhelper
*.log
*.substvars
files
profitbricks-python-base
profitbricks-python-base-doc
profitbricks-python-base-nls
profitbricks-python3-base
python-pb-base
python-pb-base-doc
python-pb-base-nls
python3-pb-base
